<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FindFood</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <%= menu 'Homepage', root_path %> 
      <%= menu 'Restaurants', restaurants_path %> 
      <%= menu 'Dishes', dishes_path %> 
      <%= menu 'Ingredients', ingredients_path %>
      <%= menu 'Categories', categories_path %>
    </ul>
  </div>
</nav>