<p id="notice"><%= notice %></p>

<div class="card border-dark mb-3" style="max-width: 18rem;">
<div class="card-header bg-transparent border-dark"><h2><%= @restaurant.name %></h2></div>
<div class="card-body text-dark">
  <p class="card-text">
  <h6>Address: <%= @restaurant.address %></h6>
  <h6>Phone: <%= @restaurant.phone %></h6>
  </p>
</div>
<div class="card-footer bg-transparent border-dark align-self-center">
  <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-outline-success" %>
  <%= link_to 'Back', restaurants_path, class: "btn btn-outline-secondary" %>
</div>
</div>