<p id="notice"><%= notice %></p>

<h1>Dishes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Preparationtime</th>
      <th scope="col">Ingredients</th>
      <th scope="col">Category</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.description %></td>
        <td><%= dish.price %></td>
        <td><%= dish.preparationtime %></td>
        <td><%= dish.ingredients.map(&:description).join(', ') %></td>
        <td><%= dish.category.description %></td>

        <td><%= link_to 'Show', dish, :class => "btn btn-outline-primary" %></td>
        <td><%= link_to 'Edit', edit_dish_path(dish), :class => "btn btn-outline-secondary" %></td>
        <td><%= link_to 'Destroy', dish, :class => "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dish', new_dish_path, class: 'btn btn-primary' %>
