<p id="notice"><%= notice %></p>

<h1 style="text-align: center;">Página Inicial</h1>
<hr>
<% @posts.each do |post| %>

  <h2><%= post.title %></h2>
  <h3>Assunto: <%= post.subject %></h3>
  <p><%= resume post.text %></p>
  <h4>Author: <%= post.author.name %> </h4>
  <small>Data: <%= post.created_at %> </small>

  <hr/>

<% end %>
