<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>FindFood</title>
=======
    <title>Blogao20191</title>
>>>>>>> 27eb930ff04d8e85525b40e38638b161ab207de3
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
  </head>

  <body>
    <%= yield %>
=======
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <%= render '/layouts/menu' %>
  <div class="container-fluid">
    <%= yield %>
    </div>
>>>>>>> 27eb930ff04d8e85525b40e38638b161ab207de3
  </body>
</html>
